
#box {
    width:250px; 
    height:250px; 
    background-color: tomato;
    font-size:13em;
    text-align:center; 
    animation-name:slideUp; 
    animation-duration: 2s; 
    animation-iteration-count: infinite;
    animation-direction: normal; 
    animation-play-state: running; 
    
}

@keyframes slideUp{
    from {
        transform: translateY(300%)
    };
}
