
h1::first-letter {

    font-size: 2em; 
    font-style: italic; 

}

p::first-line {
    background-color: yellow; 
}

p::selection {
    color:green; 
    background-color: gray; 
}

#fruit li::before {
    content:"? ";
}

#apple::after{
    content: " Q";
}

#orange::after{
    content: " O";
}

#banana::after{
    content: " U";
}

#food li::marker {
    content: "<> ";
    color: green;
    font-size: 1.2em;
}

